<!-- search-hotel.component.html -->

<!-- Search Hotel Form -->
<div class="container">
  <div class="hotel-search-section">
    <h2>Search Hotels</h2>
    <form class="form-container" #hotelSearchForm="ngForm" (ngSubmit)="onSearch()">
      <div class="form-row">
        <div class="form-group">
          <label for="location"><i><fa-icon [icon]="faLocation"></fa-icon></i> Location</label>
          <input 
            type="text" 
            id="location" 
            [(ngModel)]="searchParams.location" 
            name="location" 
            placeholder="Enter location..." 
            required 
            #location="ngModel"
            [ngClass]="{ 'invalid': location.invalid && location.touched }"
          />
          <div *ngIf="location.invalid && location.touched" class="error-msg">
            Location is required.
          </div>
        </div>

        <div class="form-group">
          <label for="startDate"><i><fa-icon [icon]="faCalendarCheck"></fa-icon></i> Check-in</label>
          <input 
            type="date" 
            id="startDate" 
            [(ngModel)]="searchParams.startDate" 
            [min]="minCheckinDate"
            name="startDate" 
            required 
            #startDate="ngModel"
            [ngClass]="{ 'invalid': startDate.invalid && startDate.touched }"
          />

          <div *ngIf="startDate.invalid && startDate.touched" class="error-msg">
            Check-in date is required.
          </div>
          
        </div>

        <div class="form-group">
          <label for="endDate"> <i><fa-icon [icon]="faCalendarMinus"></fa-icon></i> Check-out</label>
          <input 
            type="date" 
            id="endDate" 
            [(ngModel)]="searchParams.endDate"
            [min]="searchParams.startDate || minCheckinDate" 
            name="endDate" 
            required 
            #endDate="ngModel"
            [ngClass]="{ 'invalid': endDate.invalid && endDate.touched }"
          />
          <div *ngIf="endDate.invalid && endDate.touched" class="error-msg">
            Check-out date is required.
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="rooms"><i><fa-icon [icon]="faBed"></fa-icon></i> Rooms</label>
          <input 
            type="number" 
            id="rooms" 
            min="1" 
            [(ngModel)]="searchParams.rooms" 
            name="rooms" 
          />
        </div>

        <div class="form-group">
          <label for="adults"><i><fa-icon [icon]="faUser"></fa-icon></i> Adults</label>
          <input 
            type="number" 
            id="adults" 
            min="1" 
            [(ngModel)]="searchParams.adults" 
            name="adults" 
          />
        </div>

        <div class="form-group">
          <label for="children"><i><fa-icon [icon]="faChild"></fa-icon></i> Children</label>
          <input 
            type="number" 
            id="children" 
            min="0" 
            [(ngModel)]="searchParams.children" 
            name="children" 
          />
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="hotelSearchForm.invalid" class="search-btn">Search &nbsp;<i><fa-icon [icon]="faSearch"></fa-icon></i></button>
      </div>
    </form>
  </div>
</div>

<!-- Top Destinations Section -->
<div class="hotel-list-section">
  <h2>Top destinations in India</h2>
  <div class="card-container">
    <div class="card">
      <img src="assets/hotel/delhi.jpg" alt="New Delhi and NCR" class="card-img" />
      <div class="card-content">
        <h3>New Delhi</h3>
      </div>
      <button class="know-more-btn" (click)="navigateWithParams('New Delhi')">Explore <i><fa-icon [icon]="faArrowRight"></fa-icon></i></button>
    </div>

    <div class="card">
      <img src="assets/hotel/mumbai.jpg" alt="Mumbai" class="card-img" />
      <div class="card-content">
        <h3>Mumbai</h3>
      </div>
      <button class="know-more-btn" (click)="navigateWithParams('Mumbai')">Explore <i><fa-icon [icon]="faArrowRight"></fa-icon></i></button>
    </div>

    <div class="card">
      <img src="assets/hotel/goa.jpg" alt="Goa" class="card-img" />
      <div class="card-content">
        <h3>Goa</h3>
      </div>
      <button class="know-more-btn" (click)="navigateWithParams('Goa')">Explore <i><fa-icon [icon]="faArrowRight"></fa-icon></i></button>
    </div>

    <div class="card">
      <img src="assets/hotel/bengaluru.jpg" alt="Bengaluru" class="card-img" />
      <div class="card-content">
        <h3>Bengaluru</h3>
      </div>
      <button class="know-more-btn"  (click)="navigateWithParams('Bengaluru')">Explore <i><fa-icon [icon]="faArrowRight"></fa-icon></i></button>
    </div>
  </div>
</div>

<!-- Hotel Deals Section -->
<div class="hotel-list-section">
  <h2>Hot hotel deals right now</h2>
  <div class="card-container">

    <div *ngFor="let hotel of topDeals" class="card">

      <img [src]="hotel['images'].slice(0, 1)" alt="{{ hotel['name'] }}" class="card-img" />

      <div class="card-content">

        <div class="name-star">
          <h3>{{ hotel['name']}}</h3>
          <div><i style="color: gold" *ngFor="let star of getFilledStars(hotel.star)"><fa-icon [icon]="faStar"></fa-icon></i></div>
        </div>

        <div class="rating-label">
          <p><strong>{{ hotel['rating'] }}/5</strong></p>
          <p><strong>{{ getRatingLabel(hotel.rating) }}</strong></p>
        </div>

        <div class="location-price">

          <p><i><fa-icon [icon]="faMapMarkerAlt"></fa-icon></i> {{ hotel['location'] }}</p>

          <div class="price-offer">

            <div class="price">
            <p class="original-price" *ngIf="hotel.offerDescription"><s>₹{{ hotel.price }}</s></p>
            <p class="discounted-price">₹{{ hotel.discountedPrice }}</p>
            </div>

            <div class = "description">
              <p class="offer-description" *ngIf="hotel.offerDescription">
                {{ hotel.offerDescription }}
              </p>
              <p>{{ hotel.specialOffers[0].discount}}% off</p>
            </div>

          </div>
          
        </div>
        
        <p *ngIf="hotel['amenities']?.length">{{ getTruncatedAmenities(hotel['amenities'].join(', ')) }} <strong>more</strong></p>

      </div>

      <button class="know-more-btn" (click)="navigateToDetails(hotel)">Get Deal <i><fa-icon [icon]="faArrowRight"></fa-icon></i></button>

    </div>
  </div>
</div>




