.bookings-container {
  font-family: poppins;
  margin: 20px;
}

h1 {
  text-align: left; /* Align main heading to the left */
  color: #333;
  font-size: 24px;
  margin-bottom: 15px; /* Add spacing below the main heading */
}

h2 {
  text-align: center; /* Keep section headings centered */
  color: #333;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.booking {
  margin-bottom: 15px;
}

.booking-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 8px;
  gap: 8px;
  align-items: center;
  background-color: #fff;
}

.booking-image {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.booking-details {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  flex-grow: 1;
}

.detail-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
}

.detail-column p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.booking-buttons {
  display: flex;
  gap: 8px;
  margin-top: 5px;
  justify-content: flex-start;
}

button {
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  font-family: poppins;
}

/* Button colors based on text */
button:nth-child(1) {
  background-color: #007bff;
  color: #fff;
}

button:nth-child(2) {
  background-color: #28a745;
  color: #fff;
}

button:nth-child(3) {
  background-color: #dc3545;
  color: #fff;
}

/* Different hover colors */
button:nth-child(1):hover {
  background-color: #0056b3;
}

button:nth-child(2):hover {
  background-color: #218838;
}

button:nth-child(3):hover {
  background-color: #c82333;
}

.no-bookings {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-top: 20px;
}
